* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: whitesmoke;
}
.navbar {
  width: 100%;
  padding: 12px 20px;
  background:white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}


.left {
  display: flex;
  align-items: center;
  gap: 20px;
}


.logo {
  font-size: 30px;
  font-weight: 800;
  color: black;
}
.logo span {
  color: #00a82d;  
}


.location {
  font-size: 14px;
  line-height: 18px;
}
.location span {
  font-weight: 700;
}

.search-box {
  flex: 1;
  margin: 0 20px;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  padding: 10px 14px;
  border-radius: 8px;
}
.search-box input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  font-size: 15px;
}


.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn {
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 15px;
  border: none;
  background: transparent;
  font-weight: 600;
}

.cart {
  background: #00a82d;
  color: white;
}


.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .search-box {
    display: none;
  }

  .right {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}
.mobile-menu {
  display: none;
  flex-direction: column;
  background: white;
  padding: 15px 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.mobile-menu input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

